.wrapper
  %h3
    Olá, Sr.
    = current_user.nome
    %br
    %br

  %h4
    Não foi possível completar a transação, pedimos por gentileza que entre em contato com sua operadora de cartão ou tente uma nova compra
    utilizando outro cartão.
    %br
    %br
    %br
    .pull-right
      Atenciosamente
      %br
      Itaboraí Rotativo.
