= simple_form_for([current_user, @order]) do |f|
  = f.input :produto_id, label: "Selecione o produto", collection: Produto.all.order(description: :asc), label_method: :description, value_method: :id, include_blank: false, require: true, prompt: "Selecione o bilhete desejado"
  = f.submit "Comprar Bilhete", class: "btn btn-primary pull-right"
