<p><%= @user.nome %>,</p>

<p>O tempo do seu bilhete está para terminar, em alguns minutos ele será finalizado, caso tenha pego somente um período renove ele ou compre um novo
bilhete.</p>

<p>Atenciosamente</p>
<p>Itaborai Rotativo</p>
