// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
  background: #000;
  width: 10vw;
  height: 10vw;
}

.square h1 {
    color: #fff;
}
