<p>Olá <%= @resource.email %>!</p>

<p>Para alterar a senha clique no botão abaixo.</p>

<p><%= link_to 'Mudar Senha', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></p>

<p>Se você não solicitou essa mudança, favor ignorar esse email.</p>
